LG_MAX = 960px
MD_MAX = 768px
SM_MAX = 480px

lg(){
    @media screen and (max-width: LG_MAX) {
        {block}
    }
}
md(){
    @media screen and (max-width: MD_MAX) {
        {block}
    }
}
sm(){
    @media screen and (max-width: SM_MAX) {
        {block}
    }
}