.c-ttl
    border-top 1px solid blu
    border-bottom 1px solid blu
    color blu
    font-size 36px
    text-align center
    padding 1em 0
    margin-bottom 3rem
    +lg()
        font-size 34px
    +md()
        font-size 30px
        padding .75em 0
        margin-bottom 2rem
    span
        display inline-block

.c-ttl--left-border
    display flex
    align-items center
    font-size 1.2rem
    color sky
    margin-bottom 1.5rem
    &::before
        flex none
        content ''
        display inline-block
        width 4px
        height 100%
        background sky
        margin-right .75rem

.c-ttl--border-bottom
    display flex
    align-items center
    justify-content center
    border-bottom 2px solid sky
    font-size 30px
    color blu
    padding-bottom 2rem
    margin-bottom 1.5rem
    +md()
        font-size 26px
    +sm()
        font-size 21px
        padding-bottom 1rem
    .icon
        flex none
        margin-right 1rem
        +sm()
            height 45px
            margin-right .5rem
        img
            +sm()
                max-height 100%

.has-marker-yel
    display: inline;
    background: linear-gradient(transparent 60%, yel 0%)

.has-marker-pnk
    display: inline;
    background: linear-gradient(transparent 60%, pnk 0%)