.l-header
    position relative
    width 100%
    height 82px
    background #fff
    padding 0
    z-index 2
    +md()
        position fixed
        bottom 0
        top auto
        height 70px

.header__container
    display flex
    align-items center
    height 100%
    padding 0 12px 0 30px
    @media screen and (max-width:1000px)
        padding 0 4px 0 12px
    +md()
        padding 0 12px

.header__logo
    color grn
    text-decoration none
    margin 0
    @media screen and (max-width:1000px)
        font-size 2rem
    @media screen and (max-width:800px)
        font-size 1.8rem
    +md()
        display none

.header-nav
    display flex
    align-items: center
    margin-left auto
    +md()
        margin-left 20px
    +sm()
        margin-left 10px
    .header-nav__list
        display flex
    .header-nav__item
        display flex
        //width 5em
        margin-left 2rem
        +sm()
            width auto
            margin-right 5vw
            margin-left 0
        &:first-of-type
            display none
            +md()
                display flex
                margin-left 0
        &:nth-of-type(2)
        &:nth-of-type(3)
            +sm()
                margin-right 3vw
        &:last-of-type
            +md()
                display none
    .header-nav__link
        display flex
        flex-direction column
        text-decoration none
        color grn
        font-size 13px
        padding 5px 0 0
        @media screen and (max-width:1000px)
            font-size 11px
        +md()
            font-size 12px
            padding-top 0
        @media screen and (max-width:350px)
            font-size 10px
        &:hover
            opacity .8
        .header-nav__icon
            max-width 36px
            fill grn
            margin 0 auto 6px
            +sm()
                max-width 30px
            svg
                max-height 100%
            &.icon-pin
                width 34px
                height 36px
                +sm()
                    height auto
            &.icon-info
                width 36px
                height 33px
                margin-top 1px
                +sm()
                    height auto
                    margin-top auto
            &.icon-catalog
                width 35px
                height 33px
                margin-top 2px
                +sm()
                    height auto
            &.icon-file
                width 28px
                height 35px
                margin-top 0px
                +sm()
                    width 24px
                    height auto
            &.icon-yt
                width 40px
                max-width 40px
                height 28.4px
                margin-top auto
        span
            line-height 1
            margin-top auto


.header__btn--menu
    position relative
    width 50px
    height 50px
    color grn
    margin 0 10px 0 50px
    @media screen and (max-width:1000px)
        margin-left 20px
    +md()
        position absolute
        top -10px
        right 10px
        width 66px
        height 66px
        background grn
        border-radius 5em
        box-shadow 0 0 5px 3px rgba(#000,.2)
        color #fff
        margin 0
    &:hover
        cursor pointer
        opacity .8
    span
        position absolute
        top: 50%
        left: 50%
        right: 0
        display: block
        width: 40px
        height: 6px
        background: grn
        border-radius 10px
        margin: auto
        transform: translate(-50%,-50%)
        transform-origin: center
        transition .3s
        +md()
            top 45%
            width 30px
            height 4px
            background #fff
            margin 0
        &:first-of-type
            transform: translate(-50%,calc(-50% - 12px))
            +md()
                transform: translate(-50%,calc(-50% - 10px))
        &:last-of-type
            transform: translate(-50%,calc(-50% + 12px))
            +md()
                transform: translate(-50%,calc(-50% + 10px))
                &::after
                    position absolute
                    top 4px
                    content 'MUNU'
                    display block
                    font-size 10px


