// bootstrap
@import 'foundation/bootstrap/css/bootstrap.css'
//modaal
@import 'foundation/tingle/tingle.css'

//foundation ※読み込み順指定したいため個別
@import 'foundation/var'
@import 'foundation/mixin'
@import 'foundation/base'

// layout
@import 'layout/*'

// object
@import 'object/component/*'

// page
@import 'page/*'
