#acMenu
    width: 670px
    margin: 0 auto
    dt
        display:block
        font-weight: bold
        padding-bottom: 8px
        margin-bottom: 8px
        border-bottom: 2px solid #333
        padding-top: 8px
        position: relative;
        &:after
            content: '▼';
            position: absolute;
            right: 20px;
            top:10px;
    dd
        display:none;
        padding-bottom: 24px
        a
            display: inline-block;
            margin-right: 8px;
            margin-bottom: 8px;
            border-radius: 8px;
            padding:6px 16px;
            background: #1D945C;
            color:#fff;
            border: 1px solid #1D945C;
            transition: 0.3s;
            text-decoration:none;
            &:hover
                background: #fff;
                color: #1D945C;
    dt.active:after
            content: '▲';
.comuni__link
    display: flex;
    width: 300px
    margin: 40px auto;
    text-align:center;
    align-items: center;
    justify-content: center;
    border: 2px solid #f90909;
    border-radius: 0.5rem;
    color: #f90909;
    font-weight: bold;
    padding: 0.75rem 1.2rem;
    transition: 0.3s;
    text-decoration: none;
    &:hover
        border-color:#223a71;

@media screen and (max-width:678px)
  #acMenu
    width: 92%
    margin: 0 auto
